body {
    background-color: #333;
    color: #fff;
    font-family: "Raleway";
    margin-left: 150px;
}

.contact-form-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.contact-form, .contact-details {
    width: 45%;
}

h2 {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 150px;
}

.submit-button {
    width: 150px;
    height: 50px;
    color: white;
    background-color: #97BE5A;
    border: 1px solid black;
    border-radius: 30px;
    padding: 6px 30px;
}



.contact-details p {
    margin: 5px 0;
}

.contact-details strong {
    color: #84a4f4;
    margin-bottom: 10px;
}
